<nav class="navbar navbar-default">
  <div class="nav navbar-nav navbar-right">
    {{ page.navigation }}
  </div>
</nav>
<div class="content-wrapper">
  {{ page.content }}
</div>
<div class="container-fluid bg-4 text-center">
  {{ page.footer }}
</div>
				